@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Red+Hat+Display&display=swap');

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background: #161616;
    color: navajowhite;
}

a {
    color: navajowhite;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #ddb67c;
}

svg.pyrofoniks-logo path {
    fill: #a3a3a3;
    stroke-width: 0px;
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.logo-container svg {
    width: 70vw;
    fill: #a53a3a;
    filter: drop-shadow(0px 12px 12px #000000);
}

.main {
    position: relative;
}
